<mat-card style="width: 250px">
  <form [formGroup]="editForm">
    <mat-form-field appearance="outline">
      <mat-label><strong>N° {{data?.id_restaurant}}</strong></mat-label>
      <input matInput type="number" formControlName="id_restaurant">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label><strong>Nom du restaurant</strong></mat-label>
      <input matInput formControlName="restaurant_name">
    </mat-form-field>
    <br>
      <button mat-raised-button [disabled]="editForm.invalid" (click)="updateRestaurant(data._id)">Modifier</button>
  </form>
  <br>
  <a routerLink="/restaurants">Retour aux restaurants</a>
</mat-card>



