<h2 mat-dialog-title>Renseigner l'heure ou la commande sera prete</h2>
<mat-dialog-content class="mat-typography">
  
    <ngx-timepicker-field [format]="24" [defaultTime]="'18:00'" [controlOnly]="true"></ngx-timepicker-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
  <button mat-button [mat-dialog-close]="true" (click)="accepterdisabled()" cdkFocusInitial>Valider</button>
</mat-dialog-actions>
